@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 14, 1);
}

.main{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    width: 325px;
    height: 400px;
    background-color: rgba(18,18,24,0.8);
    border: 1px solid rgba(60, 60, 75, 1);
}

input{
    background-color: rgba(22, 22, 28, 0.9);
    border: none;
    border-radius: 7px;
    padding: 0px 8px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.92);;
    text-align: end;
    display: block;
    margin: 10px auto;
    width: 280px;
    line-height: 60px;
    outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-row{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn{
    width: 67px;
    height: 47px;
    border-radius: 7px;
    background-color: rgba(38, 38, 45, 1);
    color: rgba(255, 255, 255, 0.92);
    border: none;
}

.btn:hover {
  background: rgba(60, 60, 75, 1);
}

.operator-btn{
    background-color: rgba(255, 153, 0, 0.2);
    color: rgba(255, 153, 0, 1);
    border: none;
}

.operator-btn:hover {
  background-color: rgba(255, 153, 0, 0.35);
}

.equal-btn {
  background: rgba(255, 153, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.equal-btn:hover {
  background: rgba(255, 153, 0, 0.85);
}